.App {
    background-size: cover;
    position: fixed; 
    min-width: 100%;
    min-height: 100%;
}
.start-main {
    text-align: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .start-button-container {
    position: absolute; 
    border-width: 0px;
    top: 50%;
    left: 40%;
    transform: translate(0px, -50%);
    z-index: 10;
    font-size: 55px;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0 0 0.95rem rgb(6, 236, 244));
  }
  .header {
    font-size: 55px;
    margin-bottom: 8%;
    margin-top: 0;
  }
  .text {
    font-size: 25px;
    margin: 0;
  }

  .motion-button {
    font-family: 'dash horizon';
    color: rgb(160, 53, 133);
    background-color: transparent;
    border-width: 0;
  }
  
  .start-button-container:hover .header,
  .start-button-container:hover .text {
    cursor: pointer;
      color: rgb(6, 236, 244); /* Highlight text color */
      filter: drop-shadow(0 0 0.95rem rgb(160, 53, 133));
      text-shadow: 
                -1px -1px 0 rgb(160, 53, 133), 
                1px -1px 0 rgb(160, 53, 133), 
                -1px 1px 0 rgb(160, 53, 133), 
                1px 1px 0 rgb(160, 53, 133); /* Text border effect */
  }