.about-main {
    background-image: url("./../../assets/images/about-space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
  }
  
  .button-container {
    left: 6%;
  }
  
  .about-back-button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    filter: drop-shadow(0 0 0.75rem rgb(19, 212, 241));
  }
  .disclaimer-about {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    font-size: 25px; /* Increase the font size as needed */
    color:white; /* Adjust the color as needed */
    background-color: transparent; /* Optional: add a semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  