.experiences-main {
    background-image: url("./../../assets/images/bluespace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;/* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the header is at the top and the back button is at the bottom */
    margin: 0;
    padding: 0;
    padding: 1rem; /* Add padding to prevent content from touching edges */
}

.back-button {
    position: absolute;
    bottom: 4.5%;
    left: 1%;
}

.experiences-header {
    display: flex;
    height: 5%;
    justify-content: center;
    color: rgb(80, 246, 255);
    font-family: 'dash horizon';
    font-size: 2rem; /* Use rem instead of fixed px for responsive font size */
}
