.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Set your desired background color */
    color: #fff;
    text-align: center;
  }
  .projects-main {
    background-image: url("./../../assets/images/bluespace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    margin: 0;
    padding: 1rem; /* Add padding to prevent content from touching edges */
    gap: 1rem; /* Add gap between the header and main card */
    z-index: 1000;
}
.projects-main-card {
  width: 100%; /* Ensure the main card takes full width available */
  max-width: 1200px; /* Set a maximum width for the main card */
}