.social-wrapper {
    display: inline-flex;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 1vh;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .social-wrapper .social-icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social-wrapper .social-tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social-wrapper .social-tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .social-wrapper .social-icon:hover .social-tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .social-wrapper .social-icon:hover span,
  .social-wrapper .social-icon:hover .social-tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .social-wrapper .social-phone:hover,
  .social-wrapper .social-phone:hover .social-tooltip,
  .social-wrapper .social-phone:hover .social-tooltip::before {
    background: #5BC236;
    color: #fff;
  }
  
  .social-wrapper .social-google:hover,
  .social-wrapper .social-google:hover .social-tooltip,
  .social-wrapper .social-google:hover .social-tooltip::before {
    background: #EA4335;
    color: #fff;
  }
  
  .social-wrapper .social-resume:hover,
  .social-wrapper .social-resume:hover .social-tooltip,
  .social-wrapper .social-resume:hover .social-tooltip::before {
    background: #1877f2;
    color: #fff;
  }

  .notification {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
    opacity: 1;
    font-size: 1.25rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
  }
  .succes-svg {
    color: rgb(74 222 128);
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 1.2vh;
  }
  .notification-exit {
    opacity: 0;
    bottom: 0px;
  }